<div class="spinner" *ngIf="!publication">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="publication">
  <h1>{{publication?.title}}</h1>
  <section>
    <div class="div-1" d>
      <div class="img">
        <img src="{{publication?.urlImg}}">
      </div>
      <button color="red" [disabled]="!publication?.published" mat-button (click)="editStatusPublication(publication)">Despublicar</button>
      <button color="green" [disabled]="publication?.published" class="red" mat-button (click)="editStatusPublication(publication)">Publicar</button>
    </div>

    <div class="details">
      <div>
        <!--- Status----->
        <h3 *ngIf="publication?.published" style="color: green">
          {{published}}
          <i title="Ver Publicação" class="bi bi-eye"></i>
        </h3>

        <h3 *ngIf="!publication?.published" style="color: var(--cor2)">
          {{published}}
          <i class="bi bi-eye-slash"></i>
        </h3>
        <!-------->
      </div>

      <!--- Categoria----->
      <p>Categoria: {{publication?.category}}</p>

      <!--- Destaque----->
      <p *ngIf="publication?.featured">Destaque: Sim</p>
      <p *ngIf="!publication?.featured">Destaque: Não</p>

      <!--- Origen----->
      <p>Fonte: <a href="{{publication?.origin}}" target="_blank">Clique aqui</a></p>

      <!--- Editar publicação----->
      <p routerLink="/admin/edit/{{publication?.id}}" class="edit">Editar Publicação <i class="bi bi-gear"></i></p>

    </div>
  </section>
<div class="back-button">
    <button routerLink="/admin"  color="accent" mat-raised-button>
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
</div>
</div>
