<div class="spinner" *ngIf="!publications">
  <mat-spinner></mat-spinner>
</div>

<mat-tab-group *ngIf="publications" mat-align-tabs="start" dynamicHeight>

  <!------ Todas publicações ----------->
    <mat-tab label="Todas">

      <div *ngFor="let publication of pageSliceAll">

        <section class="publi" routerLink="/admin/details/{{publication?.url}}" title="Ver detalhes">
          <p><span>Título:</span> {{publication?.title}}</p>
          <div class="info">
            <div class="publi-img" ><img src="{{publication?.urlImg}}"></div>
            <p>Categoria: {{publication?.category}}</p>
          </div>
        </section>

        <mat-divider></mat-divider>
      </div>
    </mat-tab>

      <!---------------->

        <!------ Publicadas----------->
    <mat-tab label="Publicadas">

      <div *ngFor="let publication of pageSlicePublisheds">

        <section class="publi" routerLink="/admin/details/{{publication?.url}}" title="Ver detalhes">
          <p><span>Título:</span> {{publication?.title}}</p>
          <div class="info">
            <div class="publi-img" ><img src="{{publication?.urlImg}}"></div>
            <p>Categoria: {{publication?.category}}</p>
          </div>
        </section>

        <mat-divider></mat-divider>
      </div>

    </mat-tab>
     <!---------------->
  </mat-tab-group>

  <mat-paginator
  (page)="onPageEvent($event)"
  [length]="publications?.length"
  [pageSizeOptions]="[5, 10,20]"
  aria-label="Selecione a página">
 </mat-paginator>
