
mat-tab-group {
  padding-top: 20px;
}

mat-paginator {
  background-color: var(--cor3);
}

.publi {
  height: auto;
  padding: 15px;
  cursor: pointer;
}

.publi:hover {
  background-color: #1d130e;
  transition: 0.3s;
}

p span {
  color: var(--cor2);
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
}

.publi-img {
  border: 1px solid var(--cor1);
  width: 80px;
  padding:10px;
  margin: 20px 20px 20px 0;
}

.publi-img img {
  max-width: 100%;
  max-height: 100%;
}

/*****************/
