div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
}


h1 {
  padding: 20px;
  font-size: 3em;
}

p {
  font-size: 1.2em;
}

button{
  font-size: 1.1em;
}

@media(max-width:768px) {
  div{
    display: block;
    padding: 10px;
    text-align: center;
    margin:70px 0 auto auto;
  }

  h1 {
    font-size: 2em;
    line-height: 1em;
  }
}
