div {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
}


h1 {
  padding: 20px;
  font-size: 3em;

}

p {
  font-size: 1.2em;
}

button{
  font-size: 1.1em;
}
