
.div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.main-img {
  border-radius: 10px;
}

.div-img h1 {
  font-family: var(--font-title);
  position: absolute;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568);
}

.div-img h1, h1 {
  font-size: 2em;
}

.horda {
  background-image: linear-gradient(to bottom, #401115, #26080B,#110b08);
  background-color: #26080B;
  padding-bottom: 300px;
}

.horda img {
  max-width: 250px;
}

/*** MAT-TAB-GROUP ****/

  mat-tab-group{
    margin-top: 50px;
  }

:host {
  ::ng-deep {
    .mat-tab-group .mat-tab-header .ng-star-inserted {
      height: 180px;
      }

      .mat-tab-group .mat-tab-header .ng-star-inserted img {
          height: 180px;
      }

      .mat-tab-group .mat-tab-header .ng-star-inserted img:hover {
          transform:scale(1.1);
          transition: 1s;
        }
    }
}


@media(max-width:768px) {
  :host {
    ::ng-deep {
      .mat-tab-group .mat-tab-header .ng-star-inserted {
        height: 150px;
        }

        .mat-tab-group .mat-tab-header .ng-star-inserted img {
            height: 150px;
        }
      }
  }
}
