
.div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.main-img {
  border-radius: 10px;
  z-index:800;
}

.logo {
  padding-top: 30px;
}

.div-img h1 {
  font-family: var(--font-title);
  position: absolute;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568);
}

.div-img h1, h1 {
  font-size: 2em;
}

/***** Horda sessão *****/
.horda {
  background-image: linear-gradient(to bottom, #401115, #26080B,#110b08);
  background-color: #26080B;
}

.horda img, .aliance img {
  max-width: 250px;
}

/***** Aliança sessão ******/

.aliance {
  background-image: linear-gradient(to bottom, #162136, #0c1320,#0E1625);
  background-color:#0E1625;

  padding-bottom: 30px;
  margin-bottom: 30px;
}

/*** MAT-TAB-GROUP ****/

  mat-tab-group{
    margin-top: 50px;
  }

:host {
  ::ng-deep {
    .mat-tab-group .mat-tab-header .ng-star-inserted {
      height: 180px;
      }

      .mat-tab-group .mat-tab-header .ng-star-inserted img {
          height: 180px;
      }

      .mat-tab-group .mat-tab-header .ng-star-inserted img:hover {
          transform:scale(1.1);
          transition: 1s;
        }
    }
}


/********* Configurações do campo de detalhes de personagem ************/

.main h1, .main {
  padding-top: 10px;
}

.main h1 {
  font-size:1.5em;
  font-family: var(--font-title);
}

.main {
  padding-bottom: 20px;
  background-image:linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.233));
  max-width: 90%;
  margin: auto;
}

.bi {
  cursor: pointer;
}


@media(max-width:768px) {
  :host {
    ::ng-deep {
      .mat-tab-group .mat-tab-header .ng-star-inserted {
        height: 150px;
        }

        .mat-tab-group .mat-tab-header .ng-star-inserted img {
            height: 150px;
        }
      }
  }
}
