

.menu-mobile-icon {
  display: none;
}

mat-toolbar {
 width: 100%;
justify-content: center;
align-items: center;
height: 80px;
box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

span {
  color: var(--cor1);
  font-size: 1.1em;
  font-family: var(--font-title);
  margin: 10px;
  cursor: pointer;
}

span:hover {
  color: var(--cor2);
  transition: 0.2s;
}


@media(max-width:768px) {

  mat-toolbar span {
    display: none;
    font-size: 1em;
  }

  .menu-mobile-icon {
    display: block;
  }

  mat-toolbar {
    justify-content: flex-start;
  }

  .menu-mobile mat-toolbar {
    width: 100%;
    display: block;
    height: 100vh;
    padding: 20px;
  }

  .menu-mobile span {
    display: block;
  }
}
