<nav  class="menu">
  <mat-toolbar class="mat-toolbar">
    <button (click)="openMenu()" mat-icon-button  class="menu-mobile-icon">
     <mat-icon >menu</mat-icon>
   </button>

   <div class="logo-menu">
    <img src="../../../../assets/img/favicon.svg">
  </div>


     <span routerLink="/" (click)="openMenu()">Início</span>
     <span  (click)="openMenu()">Classes</span>
     <span (click)="openMenu()">Raças</span>
     <span routerLink="/lore" (click)="openMenu()">História</span>
     <span (click)="openMenu()">Personagens</span>
  </mat-toolbar>
</nav>
