

.menu-mobile-icon {
  display: none;
  color: var(--cor1)
}

mat-toolbar {
 width: 100%;
justify-content: center;
align-items: center;
height: 80px;
background-color: #1d0d03;
box-shadow: 1px 1px 5px rgb(0, 0, 0);

position: fixed;
top: 0;
z-index: 99;
transition: all .5s;
}

span {
  color: var(--cor1);
  font-size: 1.1em;
  font-family: var(--font-title);
  margin: 10px;
  cursor: pointer;
}

span:hover {
  color: var(--cor2);
  transition: 0.2s;
}

.logo-menu {
  max-width: 70px;
}

@media(max-width:768px) {

  .logo-menu {
    visibility: hidden;
  }

  mat-toolbar span {
    display: none;
    font-size: 1em;
  }

  .menu-mobile-icon {
    display: block;
  }

  mat-toolbar {
    justify-content: flex-start;
  }

  .menu-mobile mat-toolbar {
    width: 100%;
    display: block;
    height: 100vh;
    padding: 20px;
  }

  .menu-mobile span {
    display: block;
  }

  .menu-mobile .logo-menu {
    visibility: visible;
  }
}
