/*********** Configurações material design *****************/

@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$yellow-palette, A700);
$my-accent:mat.define-palette(mat.$deep-orange-palette, 900);

$my-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

/****************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");


*{
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
}

:root {

  --cor1: #f9c32d;
  --cor2: #8d422b;
  --cor3: #211510;

  --font-text: "Montserrat", sans-serif;
  --font-title: "Metamorphous", cursive;
}

body {
  background-color: rgb(43, 43, 43);
  line-height: 1.2em;
  color: white;
}
