/*********** Configurações material design *****************/

@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$yellow-palette, A700);
$my-accent:mat.define-palette(mat.$deep-orange-palette, 900);

$my-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

/****************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");


*{
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
}


:root {

  --cor1: #f9c32d;
  --cor2: #8d422b;
  --cor3: #211510;

  --font-text: "Montserrat", sans-serif;
  --font-title: "Metamorphous", cursive;
}

body {
  background-color: rgb(43, 43, 43);
  line-height: 1.2em;
  color: white;
}


/********* Estilização em comum dos elementos na tag main **************/

main {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

main h1 {
  padding-top: 20px;
  font-size: 1.4em;
  color: var(--cor1);
}

main h2 {
  color: var(--cor1);
  font-size: 1.2em;
  text-align: left;
  padding-left: 50px;
}

main p {
  font-size: 1.2em;
  padding: 20px;
  line-height: 2em;
  text-align: justify;
}

main span {
  font-weight: bold;
  color: var(--cor2);
}

.main-img{
  padding-top: 30px;
  max-width: 95%;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media(max-width:768px) {
  main h1 {
    font-size: 1.2em;
  }

  main p {
    font-size: 1.1em;
    line-height: 1.8em;
    font-family: var(--font-text);
  }

  .main-img {
    height: 200px;
  }
}

/**********************/

/********** Spinner *************/
.spinner {
  max-width: 1200px;
}
mat-spinner {
  margin: 40vh auto;
  width: 50px;
}
